/node_modules
/public/hot
/public/cache
/public/storage
/public/error_log
/public/.error_log.swp
/storage/*.key
/vendor
/.idea
/.vagrant
/.vscode
/node_modules
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env

### macOS ###
*.DS_Store
.AppleDouble
.LSOverride


